acme==2.11.0
aiofiles==24.1.0
aiogram==3.21.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argcomplete==3.4.0
attrs==25.3.0
Beaker==1.12.1
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.1
blinker==1.9.0
blivet==3.11.0
blivet-gui==2.5.0
Brlapi==0.8.5
Brotli==1.1.0
celery==5.5.3
certbot==2.11.0
certifi==2025.7.14
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
ConfigArgParse==1.7
configobj==5.0.8
contourpy==1.3.3
crypt_r==3.13.1
cryptography==43.0.0
cssselect==1.1.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
distlib==0.3.8
distro==1.9.0
dnf==4.21.1
dnspython==2.7.0
email_validator==2.2.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
Flask==2.3.3
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flet==0.27.6
flet-core==0.24.1
fonttools==4.59.0
fros==1.1
frozenlist==1.7.0
FVS==0.3.4
geographiclib==2.0
geopy==2.4.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
humanize==4.9.0
icoextract==0.1.4
idna==3.7
iniconfig==2.1.0
inkex==1.4.0
iso639==0.1.4
itsdangerous==2.2.0
Jinja2==3.1.6
josepy==1.13.0
kiwisolver==1.4.8
kombu==5.5.4
langtable==0.0.68
libcomps==0.1.21
libdnf==0.73.3
louis==3.28.0
lxml==5.2.1
magic-filter==1.0.12
Mako==1.2.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mercurial==6.8.1
multidict==6.6.3
mutagen==1.47.0
nftables==0.1
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
orjson==3.10.11
outcome==1.3.0.post0
packaging==24.1
parsedatetime==2.6
Paste==3.10.1
pathvalidate==3.2.1
patool==1.13
pefile==2023.2.7
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==10.4.0
platformdirs==4.2.2
playwright==1.53.0
pluggy==1.6.0
ply==3.11
podman-compose==1.2.0
productmd==1.38
prompt_toolkit==3.0.51
propcache==0.3.2
psycopg2==2.9.9
ptyprocess==0.7.0
pwquality==1.4.5
pybit==5.11.0
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.23.0
pycryptodomex==3.21.0
pycups==2.0.4
pycurl==7.45.3
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyee==13.0.0
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.48.2
PyGObject-stubs==2.13.0
pykickstart==3.58
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyparted==3.13.0
pyRFC3339==1.1
pyserial==3.5
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
pytest==8.4.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.11.2
python-linux-procfs==0.7.3
python-meh==0.52
python-multipart==0.0.20
python-pam==2.0.2
python-socketio==5.12.1
pytz==2024.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
redis==6.2.0
regex==2024.4.28
repath==0.9.0
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
rich==14.1.0
rich-toolkit==0.14.9
rignore==0.6.4
rpm==4.20.0
scour==0.38.2
selenium==4.34.2
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
sentry-sdk==2.34.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.2.0
shellingham==1.5.4
simple-websocket==1.1.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.8.0
soupsieve==2.6
SQLAlchemy==2.0.23
sqlmodel==0.0.24
starlette==0.47.2
systemd-python==235
Tempita==0.5.2
tinycss2==1.3.0
trio==0.30.0
trio-websocket==0.12.2
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
ujson==5.10.0
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.21.1
vkbasalt-cli==3.1.1.post2
watchfiles==1.1.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==2.3.7
wheel==0.43.0
wsproto==1.2.0
xkbregistry==0.3
yarl==1.20.1
yt-dlp==2025.3.31
